body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    position: relative;
}

canvas {
    border: 1px solid #efe9f0;
    border-radius: 100%;
}

.table-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 500px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    color: #333333;
    overflow-y: auto;
    max-height: 90vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #343a40;
    color: white;
}

.emoji {
    font-size: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.checkbox-column {
    width: 20px;
    text-align: center;
}

.select-all-container {
    display: flex;
    align-items: center;
    gap: 5px;
}